<div class="YK_interact_imgUpLoad_popBox">
<div class="YK_interact_utilPanel_mox"></div>
<div class="YK_interact_utilPanel_pop">
       <div class="YK_interact_utilPanel_popHeader">
          <span class="YK_interact_utilPanel_popTitle">
               上传图片
          </span>
          <div class="YK_interact_utilPanel_Popclose"></div>
       </div>
       <div class="YK_interact_utilPanel_popContent">
              <div class="YK_interact_imgUpLoad_reSelect">
                   <a class="YK_interact_utilPanelBtn2 YK_interact_utilPanelBtn_reSelect">重新选择</a>
                   <span class="YK_interact_utilPanelPopTip">支持JPG、PNG，大小不超过<b class="YK_interact_utilPanelTipSize" style="font-weight:normal">2M</b></span>
              </div>
              <div class="YK_interact_imgUpLoad_cropBox" style="display:block">
                  <!-- <img src="" width="300px" id="target">
                   <div id="YK_interact_imgUpLoad_preview-pane">
                        <div class="YK_interact_imgUpLoad_preview-container">
                           <img src="" width="300px"  class="YK_interact_imgUpLoad_jcrop-preview">
                        </div>
                    </div>-->
              </div>
       </div>
       <div class="YK_interact_utilPanel_popBottom">
              <a class="YK_interact_utilPanelBtn YK_interact_utilPanelBtn_save CanNotSave">确 认</a>
              <a class="YK_interact_utilPanelBtn3 YK_interact_utilPanelBtn_cancel">取 消</a>
       </div>
       
</div>
</div>
